build
cmake-build-debug
debug
.ccls-cache
.vscode
.idea


llvm/bolt
llvm/clang
llvm/cmake
llvm/compiler-rt
llvm/CONTRIBUTING.md
llvm/cross-project-tests
llvm/flang
llvm/libc
llvm/libclc
llvm/libcxx
llvm/libcxxabi
llvm/libunwind
llvm/lld
llvm/lldb
llvm/llvm
llvm/mlir
llvm/openmp
llvm/polly
llvm/pstl
llvm/README.md
llvm/runtimes
llvm/SECURITY.md
llvm/third-party
llvm/utils

llvm/clang-tools-extra/clang-apply-replacements
llvm/clang-tools-extra/clang-change-namespace
llvm/clang-tools-extra/clangd
llvm/clang-tools-extra/clang-doc
llvm/clang-tools-extra/clang-include-fixer
llvm/clang-tools-extra/clang-move
llvm/clang-tools-extra/clang-query
llvm/clang-tools-extra/clang-reorder-fields
llvm/clang-tools-extra/clang-tidy
llvm/clang-tools-extra/CODE_OWNERS.TXT
llvm/clang-tools-extra/docs
llvm/clang-tools-extra/LICENSE.TXT
llvm/clang-tools-extra/modularize
llvm/clang-tools-extra/pp-trace
llvm/clang-tools-extra/README.txt
llvm/clang-tools-extra/test
llvm/clang-tools-extra/tool-template
llvm/clang-tools-extra/unittests
